# directorios para ser protegidos
directories_to_scan=C:\Scotti Scholter-Marichal\University of Mannheim\Wirtschaftsinformatik\5_Sevilla Semester\Seguridad en Sistemas Informaticos y en Internet\PAIs\SSII-PAI1
# por defecto: md5, indica: md5 | sha1 | sha256
hash_function=md5
# correos para ser notificado, puede indicar varias correos separados por una coma ","
email_to_notify=s.scholter@gmx.de
# por defecto: diario, indica: 1=3min, 2=1h, 3=24h
scan_interval=1
# por defecto: mensual, indica: 1=10min, 2=34h, 3=30days
log_interval=1
