[hids]
directories_to_scan = filesystem
hash_function = sha256
email_to_notify = s.scholter@gmx.de
scan_interval = 1
log_interval = 1

[instruciones]
directories_to_scan = por defecto: filesystem, directorios para ser protegidos
hash_function = por defecto: md5, indica: md5 | sha1 | sha256
email_to_notify = correos para ser notificado, puede indicar varias correos separados por una coma ","
scan_interval = por defecto: diario, indica: 1=3min, 2=1h, 3=24h
log_interval = por defecto: mensual, indica: 1=10min, 2=24h, 3=30dias

